<app-navbar></app-navbar>

<div class="app-shell">
  <main class="content">
    <router-outlet></router-outlet>
  </main>

 <footer class="footer">
  <div class="footer__inner">
    <div class="footer__left">
      <div class="footer__title">HealthDrugCheck</div>
      <div class="footer__muted">Public drug label preview & allergy screening</div>
    </div>

    <div class="footer__right">
      <div>🏢 Višnjik 17, Sarajevo</div>
      <div>📞 +387 33 446 820</div>
      <div>✉️ support@healthdrugcheck.example</div>
    </div>
  </div>
</footer>

</div>
