services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: interviewtask-db
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "StrongPassword123!"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data:
